
.alert {
  border-radius: 4px;
  padding: 10px;
}

.alert-primary {
  background-color: blue;
  color: lightblue;
}

.alert-warning {
  background-color: yellow;
  color: orange;
}

.alert-danger {
  background-color: red;
  color: pink;
}
